---
type Props = {
    isSelected?: boolean;
};

const { isSelected } = Astro.props;

export interface ItemContent {
    name: string;
    url: string;
    icon: any;
}
---

<li class="py-2 px-2 md:px-8 flex text-white">
    <slot />
</li>

<style>
    li {
        a {
            @apply flex items-center gap-7 w-full mx-auto;
        }
    }
</style>
